a, button, input, textarea { outline: none; }
img { max-width: 100%; }
h1, h2 { margin: 0; }
main { margin: 0 15%; }
time { color: #999; }
header { text-align: center; }

a {
  color: #333;
  text-decoration: none;
}
